@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

$edgePad: 3vmin;
$innerPad: 1vmin;

$noteTextWidth: 165px;

$transparentBlack: rgba(0,0,0,0.8);
$transparentBlackHover: rgba(0,0,0,0.9);

body {
  padding:0;
  margin:0;
  overflow:hidden;
  font-family: 'Dosis', sans-serif;
  @include font-smoothing(on); /* good for light text on dark bg */
  font-weight: 400;
  color: white;
  background-color: black;
}

.local {
  display: none;
}

#videocontainer {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;

  -webkit-transition: -webkit-filter 250ms;

  &.blur {
    -webkit-filter: blur(50px);
  }

  #ytplayer {
    width:100%;
    height:100%;
  }

  #drawing , #linedrawing{
    position:absolute;
    top:0;
    margin-bottom:50px;
    margin-top:50px;
    left:0;
    width:100%;
    //height:100%;
    bottom:0;

  }
}

#infoHeader {
  position: absolute;
  top: $edgePad;
  left: $edgePad;
  display: inline-block;
  padding: 0 $innerPad $innerPad;

  h1 {
    font-size: 5vmin;
    font-weight: 300;
    margin: auto;
    padding: 0;
  }

  p {
    font-size: 2.2vmin;
    font-weight: 400;
    margin: auto;
    padding: 0;
  }

  .light {
    font-weight: 300;
  }
}

#logoHeader {
  position:absolute;
  top: $edgePad;
  right: $edgePad;
  display: inline-block;
  padding: $innerPad;
  height: 4vmin;
  img {
    height:100%;
  }
}

#locationHeader {
  position:absolute;
  top: $edgePad;
  left: $edgePad;
  display: inline-block;
  padding: $innerPad/2;
  font-size: 0.8em;
  cursor: crosshair;
  text-transform: uppercase;
  * {
    cursor: inherit;
  }
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
}

#logoHeader, #infoHeader, #locationHeader {
  z-index: 100;
  @include no-select;
  background-color: $transparentBlack;
}

#logoHeader, #infoHeader {
  cursor: pointer;
  &:hover {
    background-color: $transparentBlackHover;
  }
}

#timeAndDate {
  background-color: $transparentBlack;
  position: absolute;
  right: $edgePad;
  bottom: $edgePad;
  padding: ($innerPad/2) $innerPad;
  margin: 0;
  display: inline-block;
  font-size: 4.5vmin;
  font-weight: 200;
  text-align: center;
  text-rendering: geometricPrecision;
  @include no-select;
  #colon {
    position: relative;
    top: -.5vmin;
  }
}



#clickArea {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  cursor: crosshair;
  z-index: 96;
}

#credits {
  opacity:0;
  display:none;
  background-color: $transparentBlack;
  //display:none;
  width:100%;
  height:100%;
  left:0;
  top:0;
  position: absolute;
  z-index: 100;

  text-align: center;
  line-height: 0.4;

  @include no-select;
  cursor: default;
  
  .credits-content {
    position: relative;
    top: 30vh;
  }

  .credits-divider {
    span {
      border-bottom: 1px solid white;
      position: relative;
      width: 100px;
      display: inline-block;
      top: -5px;
      margin: 0 8px;

    }
  }
  h1 {
    font-weight: 100;
  }
  p {
    font-weight: 400;
  }
  .for {
    font-weight: 100;
    margin: 0 4px;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

#overlay {
  /*height:100%;
  width:100%;
  position:absolute;
  top:0;
  z-index: 99;*/

  #rewind, #back {
    position: absolute;
    left: 1.5*$edgePad;
    bottom: 1.5*$edgePad;
    width: 10vmin;
    height: 10vmin;
    z-index: 100;
    opacity: .60;
    @include no-select;

    img {
      width:100%;
      height:100%;
    }
    
    .tooltip {
      position: absolute;
      top: 4vmin;
      width: 200%;
      left: 11vmin;
      vertical-align: middle;
      display:none;
      
    }
  }

  #rewind:hover, #back:hover {
    cursor: pointer;
    opacity: .80;
    .tooltip {
      display:inline;
    }
  }

  .note {
    z-index: 95;

    position:absolute;
    max-width: $noteTextWidth;
    word-wrap: break-word;
    @include no-select;
    cursor: crosshair;

    &:hover {
      .note-white {
        background-color: rgba(255, 255, 255, 0.1);
      }
      // border:1px solid rgba(255,255,255,0.4);
    }

    .note-text {
      background-color: $transparentBlack;
      padding: 0.2em 0.4em 0.4em;
      font-size: 1.0em;
    }

  }

  #addNoteInterface {
    z-index: 100;

    right:0;
    width: 50%;
    background-color: $transparentBlack;
    height:100%;
    position: absolute;

    #note-header {
      font-size:5.6vw;
      color: black;
      margin-left: 4vmin;
      margin-top: 2vmin;
    }

    #note-wrapper {
      margin-left: 4vmin;
      margin-right: 4vmin;
      height: auto;
      top: 4vmin;
      bottom: 18vmin;
      position: absolute;
      right: 0;
      left: 0;

   //   border: 1px solid #D7D7D7;
    //  background-color: rgba(255, 255, 255, 0.57);

      textarea {
        width:100%;
        height:100%;

        border: 0;
        color: white;
        background: none;
        resize: none;

        font-family: 'Dosis', sans-serif;
        font-size: 6vmin;
        outline: none !important;
      }
    }

    #submitButton {
      right: 0;
      left: 0;
      bottom: 0;
      background-color: $transparentBlack;
      color: white;
      position: absolute;
      margin: 4vmin;
      padding: 2vmin;
      font-size: 6vmin;
      @include no-select;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: $transparentBlackHover;
      }
    }
  }

}

.spinner {
  width: 4vh;
  height: 4vh;
  opacity: .5;
}

#persistent-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2vh;
  margin-top: -2vh;
  display: none;
}


#loading {
  width:100%;
  height:100%;
  left:0;
  top:0;
  position: absolute;
  z-index: 100;
  text-align: center;
  background-color:white;
  @include no-select;
  cursor: default;

  #loading-middle {
    position: relative;
    top: 35vh;
    color: gray;
    text-rendering: geometricPrecision;

    * {
      margin: 2vh;
    }
    p {
      font-size: 2vh;
      margin: 0;
    }
    .title {
      margin-bottom: -1vh;
      font-size: 5vh;
    }
    .location {
      font-size: 3vh;
      text-transform: uppercase;
    }
  }
}

#browser-error {
  color:black;
  text-align:center;
  top: 100px;
  position:relative;
  font-size:2em;

  #title {
    font-size:2em;
    line-height: 2em;
  }

  #error, #error-mobile {
    line-height: 1.6em;
  }

  b {
    font-weight: 400;
  }
}

@media only screen and (max-device-width: 480px) {
  #browser-error {
    top: 50px;
    font-size: 1em;
  }
}