@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

$edgePad: 3vmin;

body {
  padding:0;
  margin:0;
  overflow:hidden;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
}

#videocontainer {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;

  #ytplayer {
    width:100%;
    height:100%;
  }

  #drawing {
    position:absolute;
    top:0px;
    margin-bottom:50px;
    margin-top:50px;
    left:0;
    width:100%;
    //height:100%;
    bottom:0px;

  }
}

#infoHeader {
  position: absolute;
  top: $edgePad;
  left: $edgePad;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 0 1vmin 1vmin;

  h1 {
    font-size: 5vmin;
    font-weight: 300;
    margin: auto;
    padding: 0;
  }

  p {
    font-size: 2.2vmin;
    font-weight: 400;
    margin: auto;
    padding: 0;
  }

  .light {
    font-weight: 300;
  }
}

#timeAndDate {
  position: absolute;
  bottom: $edgePad;
  right: $edgePad;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 0 1vmin 1vmin;
  font-weight: 200;

  .time {
    font-size: 6vmin;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .date {
    font-size: 3vmin;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

#rewind {
  position: absolute;
  left: 1.5*$edgePad;
  bottom: 1.5*$edgePad;
  width: 10vmin;
  height: 10vmin;
}

#overlay {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  cursor: pointer;
  z-index: 99;

  .note {
    width:20px;
    height:20px;
    position:absolute;
    background-color: rgba(255,255,255,0.7);
  }

  #addNoteInterface {
    right:0;
    width: 50%;
    background-color: rgba(255,255,255,0.9);
    height:100%;
    position: absolute;

    #note-header {
      font-size:3em;
      color: black;
      margin-left: 40px;
      margin-top: 15px;
    }

    #note-wrapper {
      margin-left: 40px;
      margin-right: 40px;
      height: auto;
      top: 80px;
      bottom: 160px;
      position: absolute;
      right: 0px;
      left: 0px;

   //   border: 1px solid #D7D7D7;
    //  background-color: rgba(255, 255, 255, 0.57);

      textarea {
        width:100%;
        height:100%;

        border: 0;
        background: 0;
        resize: none;

        font-family: 'Dosis', sans-serif;
        font-size: 2em;
        outline: none !important;
      }
    }

    #submitButton {
      right: 0px;
      left: 0px;
      bottom: 0;
      background-color: rgba(0,0,0,0.1);
      color: black;
      position: absolute;
      margin: 40px;
      padding: 20px;
      font-size: 3em;

      &:hover {
        background-color: rgba(0,0,0,0.3);

      }
    }
  }

}



#transition {
  background-color: white;
  display:none;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  position: absolute;
  z-index: 100;
}

#loading {
  text-align: center;
  color:gray;
  font-size:40px;
  top:50%;
  position:relative;
  margin-top:-40px;
}